<main  class="container col-md-6 col-lg-5">
    <h1>Editing Profile</h1>
    
    <%= render 'form', profile: @profile %>
    
    <%= link_to 'Show', @profile %> |
    <%= link_to 'Back', profiles_path %>
</main>
