<div class="hero d-flex justify-content-around align-items-center m-auto">

    <div class="justify-content-center ">
        <h1>Sell an item</h1>
    </div>
</div>


<main class="container col-md-6 col-lg-5">
    <%= render 'form', listing: @listing %>
    
</main>
