<footer class="footer mt-auto py-3 bg-light">
  <div>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Privacy Policy</a>
      </li>
    </ul>
  </div>
</footer>
