// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.featured {
    margin: 10px;
    h2 {
        text-align: center;
    }
    .card {
        margin: 10px;
        display:inline-block;
    }
    .card-img-top {
        max-height: 286px;
    }
    .carousel-item {
        max-height: 286px;
        max-width: 286px;
        object-fit: cover;
    }
}

