// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.featured {
  margin: 10px;
  h2 {
    text-align: center;
  }
  .featured-listings {
    .card {
      margin: 10px;
      display: inline-block;
      .carousel-inner {
        height: 286px;
        width: 286px;
      }
    }
  }
  .carousel-item {
    img {
      height: 286px;
      width: 286px;
      object-fit: cover;
    }
  }
}
