// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.avatar-container{

    .avatar {
        border-radius: 50%;
        max-width: 100%;
        width: 160px;
        height: 160px;
        object-fit: cover;
        box-shadow: 1px 3px 5px #000000;
    }   
}

.profile-info {
    h1 {
        text-shadow: 1px 3px 4px #000000;
    }
    p {
        text-shadow: 1px 3px 4px #000000;
    }
}